<body>
    <h2 align="center"> Products</h2>
    <table border=1 align="center" cellspacing="0" cellpadding="10" class="colour">
<tr align="center">
    <td >
       <a href="jeans"><img src="assets/rippedjeans.jpg" width="300" height="370"></a> 
       <p>Ripped Jeans</p>
       <p>Price : Rs.1,000</p>
       <a href="jeans"><input type="button" value="View Product"></a>
     
     
    </td>

    <td align="center">
       <a href="skirt"><img src="assets/clothing3.jpg"  width="300" height="370"></a>
       <p>LEOPARD Print Skirt</p>
       <p>Price : Rs.1,500</p>
       <a href="skirt"><input type="button" value="View Product"></a>
      
    </td>
</tr>
<tr>
    <td align="center">
       <a href="jacket"><img src="assets/men1.jpg"  width="300" height="370"></a>
       <p>Denim Jacket for Men</p>
       <p>Price : Rs.1,790</p>
       <a href="jacket"><input type="button" value="View Product"></a>
       
    </td>

    <td align="center">
      <a href="shirt"><img src="assets/men2.jpg"  width="300" height="370"></a> 
       <p>Beach Vibes Shirt</p>
       <p>Price : Rs.2,0000</p>
       <a href="shirt"><input type="button" value="View Product"></a>
       
    </td>
</tr>
<tr>
    <td align="center">
        <a href="women"><img src="assets/traditional.jpg"  width="300" height="370"></a>
        <p>Traditional Dress for Women</p>
        <p>Price : Rs.5,000</p>
        <a href="women"><input type="button" value="View Product"></a>
       
     </td>
     <td align="center">
      <a href="men"><img src="assets/traditionalmen.jpg"  width="300" height="370"></a>
      <p>Traditional wear for Men</p>
      <p>Price : Rs.4,500</p>
      <a href="men"><input type="button" value="View Product"></a>
   
   </td>
</tr>
    </table>
</body>