<div>
    <body>
        
       <table border="1" cellspacing="0" cellpadding="10" align="center" class="bgcolour" >
           <tr >
               <td>
                <img src="assets/traditionalmen.jpg" height="400" width="300">
               </td>
               <td>
               <p> >Ben Martin Men's Dupion Silk Blend Kurta Pyjama </p>
                 <p> M.R.P.:	₹ 4,500.00</p>
                  <p>  Price: 4,500  +  70.00 Delivery charge </p>
                  <p>  You Save: ₹ 300.00 (30%) </p>
                   <p> Inclusive of all taxes </p>
               </td>
           </tr>
           </table>
       <table align="center" >
           <tr>
     <td>
       <input type="button" value="Add To Cart" class="button">
       </td>
       </tr>
      </table>
    </body>
    </div>
    

